<div class="text-white p-3 mx-auto mt-4" style="width: 90%;">
    <h1 class="fw-bold mb-2"> Ligas </h1>
    <p class="text-secondary mb-4"> Bienvenido al panel central. Aquí podrás acceder a tus ligas, crear nuevas o unirte a otras. </p>

    <nav class="navbar navbar-expand bg-dark p-0 border-bottom border-secondary mb-4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button (click)="mostrar_seccion('mis-ligas')" class="text-white nav-link px-4" 
                  [class.seccion-activa]="getSeccion_actual() == 'mis-ligas'"> Mis ligas </button>
            </li>
            <li class="nav-item">
                <button (click)="mostrar_seccion('crear-liga')" class="text-white nav-link px-4"
                  [class.seccion-activa]="getSeccion_actual() == 'crear-liga'"> Crear una nueva liga </button>
            </li>
            <li class="nav-item">
                <button (click)="mostrar_seccion('unirse-a-liga')" class="text-white nav-link px-4"
                  [class.seccion-activa]="getSeccion_actual() == 'unirse-a-liga'"> Unirse a una liga </button>
            </li>
        </ul>
    </nav>

    @if(getSeccion_actual() == "mis-ligas"){
        <div class="mb-4">
            <h2 class="mb-4">Mis Ligas</h2>
            
            <div class="row g-4">
                @for (liga of misLigas(); track liga.id) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="liga-card bg-dark p-4 border border-secondary rounded-3 h-100 d-flex flex-column">
                            
                            <div class="d-flex justify-content-between align-items-start mb-3">
                                <h5 class="fw-bold mb-0 text-white text-truncate pe-2" [title]="liga.nombre">
                                    {{ liga.nombre }}
                                </h5>
                                
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-secondary text-white rounded-pill px-2 py-1 me-2">
                                        {{ liga.miembros }} / {{ liga.max_miembros }}
                                    </span>
                                    
                                    @if (liga.creador) {
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-c-circle" viewBox="0 0 16 16">
                                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
                                        </svg>
                                    }
                                </div>
                            </div>
                            
                            <p class="text-secondary small mb-4 mt-auto">ID de Liga: #{{ liga.id }}</p>
                            
                            <div class="d-flex gap-2 mt-auto">
                                <button (click)="entrarEnLiga(liga.id)" class="btn btn-outline-light w-100 rounded-3 btn-unirse d-flex align-items-center justify-content-center">
                                    Entrar
                                </button>

                                <button (click)="abandonarLiga(liga.id)" class="btn btn-outline-danger w-100 rounded-3 btn-abandonar d-flex align-items-center justify-content-center">
                                    Abandonar
                                </button>
                            </div>

                        </div>
                    </div>
                } @empty {
                    <div class="col-12 text-center p-5 bg-dark border border-secondary rounded-3">
                        <p class="text-secondary mb-0">No te has unido a ninguna liga aún</p>
                    </div>
                }
            </div>
        </div>
    }

    @if(getSeccion_actual() == "crear-liga"){
    <div class="custom-card-container p-5 rounded-4 mb-4">
        <div class="row align-items-center">

        <div class="col-md-7 pe-md-5">
            <h2 class="mb-4 fw-bold text-white title-glow">Crear una nueva liga</h2>
            <form [formGroup]="crearLigaForm">

            <label class="form-label small text-uppercase fw-semibold custom-label ms-1" style="margin-top: 13px"> Nombre </label>
            <input formControlName="nombre" type="text" class="form-control custom-input mb-3"
                placeholder="Escribe el nombre aquí..."
                [class.is-invalid]="crearLigaForm.get('nombre')?.invalid && crearLigaForm.get('nombre')?.touched">

            <label class="form-label small text-uppercase fw-semibold custom-label ms-1" style="margin-top: 13px">Numero máximo de miembros</label>
            <input formControlName="max_miembros" type="number" class="form-control custom-input mb-3"
                placeholder="Escribe el límite de miembros de la liga"
                [class.is-invalid]="crearLigaForm.get('max_miembros')?.invalid && crearLigaForm.get('max_miembros')?.touched">

            <div class="mb-4 form-check d-flex align-items-center">
                <input formControlName="privada" type="checkbox" class="form-check-input custom-checkbox me-2" id="privadaCheck">
                <label class="form-label small text-uppercase fw-semibold custom-label ms-1" style="margin-top: 13px">Privada</label>
            </div>

            @if(mensajeExito()) {
                <div class="alert alert-success py-2 mb-3">{{ mensajeExito() }}</div>
            }
            @if(mensajeError()) {
                <div class="alert alert-danger py-2 mb-3">{{ mensajeError() }}</div>
            }

            <button (click)="crearLiga()" type="button" class="btn custom-btn-blue px-5 py-2 fw-bold w-100">
                Crear
            </button>

            </form>
        </div>

        <div class="col-md-5 text-center mt-5 mt-md-0">
            <img src="imagenes/LogoLigaManager.jpeg" class="w-75"/>
        </div>

        </div>
    </div>
    }
   
    @if(getSeccion_actual() == "unirse-a-liga"){
        <div class="mb-4">
            <h2 class="mb-4">Ligas Disponibles</h2>
            
            <div class="row g-4">
                @for (liga of ligas(); track liga.id) {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="liga-card bg-dark p-4 border border-secondary rounded-3 h-100 d-flex flex-column">
                            
                            <div class="d-flex justify-content-between align-items-start mb-3">
                                <h5 class="fw-bold mb-0 text-white text-truncate pe-2" [title]="liga.nombre">
                                    {{ liga.nombre }}
                                </h5>
                                
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-secondary text-white rounded-pill px-2 py-1 me-2">
                                        <i class="bi bi-people-fill me-1"></i> {{ liga.miembros }} / {{ liga.max_miembros }}
                                    </span>

                                    @if (liga.privada) {
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                        </svg>
                                    }
                                </div>
                            </div>
                            
                            <p class="text-secondary small mb-4 mt-auto">ID de Liga: #{{ liga.id }}</p>
                            
                            @if (liga.privada) {
                                <button (click)="abrirModalSolicitud(liga)" class="btn btn-outline-light w-100 rounded-3 mt-auto btn-unirse d-flex align-items-center justify-content-center">
                                    Solicitar Unirse
                                </button>
                            } 
                            @else {
                                <button (click)="unirseLiga(liga.id)" class="btn btn-outline-light w-100 rounded-3 mt-auto btn-unirse d-flex align-items-center justify-content-center">
                                    Unirse
                                </button>
                            }
                            
                        </div>
                    </div>
                } @empty {
                    <div class="col-12 text-center p-5 bg-dark border border-secondary rounded-3">
                        <p class="text-secondary mb-0">No hay ligas disponibles en este momento.</p>
                    </div>
                }
            </div>

            @if(mostrarModalSolicitud()) {
                <div class="modal d-block" style="background: rgba(0,0,0,0.7);">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark text-white border border-secondary">

                        <div class="modal-header border-secondary">
                        <h5 class="modal-title">Solicitar unirse a <strong class="text-primary"> {{ ligaSeleccionada()?.nombre }} </strong></h5>
                        <button type="button" class="btn-close btn-close-white" (click)="cerrarModalSolicitud()"></button>
                        </div>

                        <div class="modal-body">
                        <label class="form-label small text-uppercase fw-semibold">Mensaje</label>
                        <input 
                            type="text" 
                            class="form-control bg-dark text-white border-secondary"
                            placeholder="Escribe tu mensaje..."
                            [value]="mensajeSolicitud()"
                            (input)="mensajeSolicitud.set($any($event.target).value)">
                        </div>

                        <div class="modal-footer border-secondary">
                            <button class="btn btn-secondary" (click)="cerrarModalSolicitud()">Cancelar</button>
                            <button class="btn btn-primary" (click)="enviarSolicitud()">Enviar solicitud</button>
                        </div>

                    </div>
                    </div>
                </div>
                }

        </div>
    }

</div>