<div class="reset-container">
  <h2>Restablecer contraseña</h2>
  
  <div *ngIf="mensajeExito()" class="success">{{ mensajeExito() }}</div>
  <div *ngIf="mensajeError()" class="error">{{ mensajeError() }}</div>

  <form *ngIf="!mensajeExito()" (ngSubmit)="cambiarContrasena()">
    <input 
      type="password" 
      [formControl]="nuevaPassword" 
      placeholder="Nueva contraseña" 
      required>
    
    <button type="submit" [disabled]="nuevaPassword.invalid">Actualizar</button>
  </form>
</div>