<div class="fondo">
  <div class="auth-card">
    <div class="card-body p-0">
      
      <div class="brand-header">
        <h1 class="text-center fw-bold text-uppercase m-0">
          LaLiga Manager
        </h1>
      </div>

      <div class="p-4 pt-4">
        <div class="text-center mb-4">
          <h4 class="fw-bold text-white mb-1">Restablecer Contraseña</h4>
          <p class="text-secondary small">Introduce tu nueva clave de acceso.</p>
        </div>

        @if (mensajeExito()) {
          <div class="alert custom-alert-success alert-anim mb-3">
            {{ mensajeExito() }}
          </div>
        }

        @if (mensajeError()) {
          <div class="alert custom-alert-danger alert-anim mb-3">
            {{ mensajeError() }}
          </div>
        }

        @if (!mensajeExito()) {
          <form [formGroup]="nuevaPasswordForm" (ngSubmit)="cambiarContrasena()" class="fade-in-section">
            <div class="mb-4">
              <label class="custom-label">NUEVA CONTRASEÑA</label>
              <input 
                formControlName="password" 
                type="password" 
                class="custom-input" 
                placeholder="Mínimo 8 caracteres"
                [class.is-invalid]="nuevaPassword.invalid && (nuevaPassword.touched)">
              
              @if (nuevaPassword.errors?.['required'] && (nuevaPassword.touched)) {
                <div class="invalid-feedback d-block small mt-1">La contraseña es obligatoria.</div>
              }
              @if (nuevaPassword.errors?.['minlength'] && (nuevaPassword.touched)) {
                <div class="invalid-feedback d-block small mt-1">Mínimo 8 caracteres.</div>
              }
            </div>

            <button type="submit" [disabled]="nuevaPasswordForm.invalid" class="custom-btn-primary w-100">
              ACTUALIZAR CONTRASEÑA
            </button>
          </form>
        }
      </div>

    </div>
  </div>
</div>